html body {
    margin: 0;
    padding: 0;
}
.banner {
    margin-top: 50px;
    position: relative;
    width: 100%;
    height: 260px;
    background: url("http://localhost/PHP_OnlineOj/application/src/icon/background.jpg") no-repeat;
    background-size: cover;
    font-size: 14px;
    display:block;
}

.banner .course-info {
    display: flex;
    justify-content: space-between;
    padding-top: 47px;
    width: 1200px;
    margin: 0 auto;
    position: relative;
    color: #fff;
}

.course-img {
    position: relative;
    width: 197px;
    height: 110px;
}

.course-img img {
    width: 197px;
    height: 110px;
}

.course-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    margin-left: 28px;
}

.teacher {
    width: 200px;
    height: 110px;
    background-color: rgba(247,248,249,0.1);
    border-radius: 50% / 50%;
}

.teacher-title {
    width: 100px;
    height: 30px;
    margin: 10px 50px;
    text-align: center;
    font-size: 17px;
}

.teacher-name {
    width: 100px;
    height: 30px;
    margin: 10px 50px;
    text-align: center;
    font-size: 17px;
}

.name {
    width: 480px;
    margin-bottom: 12px;
    font-size: 24px;
    height: 56px;
    line-height: 28px;
    overflow: hidden;
    word-wrap: break-word;
}

.banner .menu-bar {
    position: absolute;
    bottom: 0;
    background: rgba(0,0,0,.3);
    width: 100%;
    height: 50px;
    color: #fff;
}

.banner .menu-bar .menu {
    margin: 0 auto;
    width: 1200px;
    height: 50px;
    display: flex;
}

.banner .menu-bar .menu .item.active {
    font-size: 18px;
}

.banner .menu-bar .menu .item {
    position: relative;
    margin-right: 58px;
    width: 86px;
    height: 50px;
    line-height: 50px;
    text-align: center;
}

.qa-list-wrapper .content[data-v-52c7977f] {
    width: 1200px;
    margin: 22px auto 0;
}
.task-box {
    width: 1000px;
    margin: 0 auto;
    display: block;
}

.title  ul{
    list-style-type: none;
    padding: 0;
    float: left;
    position: relative;
}

.title ul li {
    width: 110px;
    height: 56px;
    text-align: center;
    float: left;
}

.title ul li a {
    color: #848789;
    text-decoration: none;
    line-height: 56px;
}

.title ul a:hover{
    color:  #0ab2d2;
}

.title .move{
    height: 4px;
    width: 110px;
    border-top: 4px solid  #0ab2d2;/*只需要将上边显示出来*/
    position: absolute;
    left: 0;
    top: 52px;
    -o-transition: left .2s ease-in-out 0s;/*opera*/
    transition: left .2s ease-in-out 0s;/*包含四个过度属性：执行变换属性、执行时间、速率、延迟*/
    -webkit-transition: left .2s ease-in-out 0s;/*chrome和safari*/
    -moz-transition: left .2s ease-in-out 0s;/*firefox*/
}

.title-box {
    width: 1000px;
    height: 75px;
}

.table-style {
    margin: auto;
    width: 1000px;
}

.table-style tr {
    height: 50px;
    background-color: #FFFFFF;
}

.td1 {
    width: 900px;
}

.td1 span {
    margin-left: 50px;
}

.td-div {
    width: 10px;
    height: 10px;
    border-radius: 50%
}

.td-div-default {
    background-color: #848789;
}

.td-div-red {
    background-color: #ea0e07;
}

.td-div-green {
    background-color: #25bb9b;
}

.submit-button button {
    margin-top: 40px;
    border: 1px solid #ffffff;
    border-radius: 10%;
}
