@charset "UTF-8";
.profile_menu {
    width: 1000px;
    margin: 0 auto;
    padding-top: 60px;
    display: block;
    height: 700px;
}

.nk {
    width: 200px;
    height: 600px;
    background-color: #FFFFFF;
    display: block;
    float: left;
    margin: 0 auto;
}

.ul_1 {
    position: absolute;
    list-style-type:none;
    margin-top: 20px;
}

.li_2 {
    width: 100px;
    height: 30px;
}

.li_a2 {
    width: 200px;
    height: 40px;
    display: block;
    cursor: pointer;
    color: #808080;
    position: relative;
    font-size: 17px;
    line-height: 40px;
    text-align: center;
}

.nk-content {
    float: left;
    display: block;
    width: 730px;
    margin: 0 0 0 10px;
    background-color: #ffffff;
}

.module-box {
    border: 1px solid #e0e0e0;

    display: block;
}

.module-body {
    padding: 10px 20px;
}

.profile-caption {
    padding-bottom: 5px;
    margin-bottom: 30px;
    border-bottom: 1px solid #d4d4d4;
    overflow: hidden;
}

.info-title {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
}

.ctr-btn-box {
    margin-top: 5px;
    float: right;
}

.portrait {
    width: 26px;
    height: 26px;
    /*background: url("http://localhost:63342/application/src/icon/default.png")no-repeat;*/
    background: url("http://localhost/PHP_OnlineOj/application/src/icon/default.png")no-repeat;
    background-size: 26px 26px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
}

.male {
    width: 26px;
    height: 26px;
    /*background: url("http://localhost:63342/application/src/icon/male.png")no-repeat;*/
    background: url("http://localhost/PHP_OnlineOj/application/src/icon/male.png")no-repeat;
    display: inline-block;
    vertical-align: middle;
}

.female {
    width: 26px;
    height: 26px;
    /*background: url("http://localhost:63342/application/src/icon/famale.png")no-repeat;*/
    background: url("http://localhost/PHP_OnlineOj/application/src/icon/female.png")no-repeat;
    display: inline-block;
    vertical-align: middle;
}

.btn {
    display: inline-block;
    text-align: center;
    padding: 10px 0;
    width: 110px;
    color: #fff;
    font-size: 14px;
    border-radius: 3px;
    border: none 0;
    cursor: pointer;
    line-height: normal;
    outline: 0;
    white-space: nowrap;
}


.js-action-btn {
    text-decoration: none;
}

.btn-primary {
    background: #25bb9b;
}

.btn-default {
    background: #bbb;
}

.btn-primary {
    background: #25bb9b;
}

.info-box dt{
    float: left;
    width: 118px;
    text-align: right;
    line-height: 2.8;
}

.info-box dd {
    margin-left: 140px;
    line-height: 2.8;
    color: #999;
}

dd {
    margin: 0;
    padding: 0;
    font-weight: 400;
    display: block;
    margin-inline-start: 40px;
}

.info-box dl {
    font-size: 14px;
    margin-bottom: 20px;
}

.control-group {
    position: relative;
    width: 260px;
}

.control-group input {
    border: 1px solid #ddd;
    color: #34495e;
    font-family: Lato, sans-serif;
    font-size: 14px;
    padding: 8px 5px 7px;
    width: 248px;
    height: 20px;
    border-radius: 3px;
    outline: 0;
}

/*
.uneditable-input, input[type=email], input[type=password], input[type=text], textarea {

}*/
.filter-bar {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    padding: 14px 0;
}

.filter-title {
    color: #333;
    font-size: 16px;
    font-weight: bold;
}

table[data-v-4bedaae3] {
    border: none;
}

table {
    max-width: 100%;
    width: 100%;
    text-align: center;
    border: 1px solid #f0f0f0;
    font-size: 14px;
    border-collapse: collapse;
    border-spacing: 0;
    display: table;
    box-sizing: border-box;
    text-indent: initial;
}

thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}

.t-subject-title {
    text-align: left;
    word-break: break-word;
}

table td[data-v-4bedaae3] {
    border-bottom: 1px solid #f3f3f6;
}

.js-nc-wrap-link {

}

table tbody tr[data-v-4bedaae3] {
    cursor: pointer;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

table tbody[data-v-4bedaae3] {
    color: #666;
    font-size: 12px;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

.table_submit tr {
    height: 40px;
}