@charset "UTF-8";
.result_box1 {
    background-color: #FFFAF0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width:500px;
    height: 350px;
    top: 425px;
    left: 700px;
    text-align: center;
    color: black;
    border-radius: 10px;
}

.result_box2 {
    line-height: 150px;
    font-size: 30px;
    height: 300px;
}